** USE THE CONCEPT OF LOOP TO SOLVE TEHE BELOW QUIRIES **

  1) Print the first 10 natural numbers using for loop.

In [1]:
#Write your code here
a=10
for i in range(1,a+1):
    print(i)

1
2
3
4
5
6
7
8
9
10

2) Python program to print all the even numbers within the given range.

Range = 0 to 100

In [2]:
#Write your code Here
a=100
for i in range(1,a+1):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

3) Python program to calculate the sum of all numbers from 1 to a given number.

Given Range = 15

In [3]:
#Write your Code Here
a=15
b=0
for i in range(1,a+1):
    b+=i
print(b)

120

4) Python program to calculate the sum of all the odd numbers within the given range.

Given Range = 10

In [4]:
# Write your code Here
a=10
for i in range(1,a+1):
    if i%2==0:
        pass
    else:
        print(i)

1
3
5
7
9

5) Python program to print a multiplication table of a given number

given number = 5

In [6]:
# Write your code here
a=10
for i in range(1,a+1):
    print("5 "+"* "+str(i)+" "+"= "+str(5*1))

5 * 1 = 5
5 * 2 = 5
5 * 3 = 5
5 * 4 = 5
5 * 5 = 5
5 * 6 = 5
5 * 7 = 5
5 * 8 = 5
5 * 9 = 5
5 * 10 = 5