<a href="https://colab.research.google.com/github/giri8790/DataScieneceAssignments/blob/main/lists_2_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Remove empty strings from the list1 of strings

list1 = ["Mike", " ", "Emma", "Kelly", " ", "Brad"]

In [1]:
# write your code here
a=["Mike", " ", "Emma", "Kelly", " ", "Brad"]
b=[]
for i in a:
  if i==" ":
    pass
  else:
    b+=[i]
print(b)

['Mike', 'Emma', 'Kelly', 'Brad']

2.Write a program to add item 7000 after 6000 in the following Python List

list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

expected o/p ; [10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [5]:
#  write your code here
a=[10, 20, [300, 400, [5000, 6000], 500], 30, 40]
a[2][2].append(7000)
print(a)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

3.You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.

list1 = [5, 10, 15, 20, 25, 50, 20]

Expected output:
[5, 10, 15, 200, 25, 50, 20]

In [10]:
#write your code here
a=input().split(", ")
b=input()
c=input()
for i in range(len(a)):
    if a[i]==b:
      a[i]=c
      break
print(a)

5, 10, 15, 20, 25, 50, 20
20
200
['5', '10', '15', '200', '25', '50', '20']

4.Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.

list1 = [5, 20, 15, 20, 25, 50, 20]

Expected output:

[5, 15, 25, 50]

In [16]:
# write your code here
a=input().split(", ")
b=[]
for i in range(len(a)):
    if int(a[i]) in b:
        pass
    else:
        b+=[int(a[i])]
print(b)

5, 20, 15, 20, 25, 50, 20
[5, 20, 15, 25, 50]

5.Concatenate two lists in the following order

list1 = ["Hello ", "take "]

list2 = ["Dear", "Sir"]

Expected output:

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [21]:
# write your code here
list1 = ["Hello ", "take "]
list2 = ["Dear", "Sir"]
b=[]
for i in list1:
  for j in list2:
    b+=[i+j]
print(b)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']