<a href="https://colab.research.google.com/github/giri8790/DataScieneceAssignments/blob/main/lists_1_Assignment_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.Are lists mutable or immutable, explain with an example

In [5]:
lis=["a","b","c"]
print(lis)
lis[0]="A"
print(lis)
#lists is Mutable. Because list can be modified.

['a', 'b', 'c']
['A', 'b', 'c']

2.Take any example of list on your own and perform atleast 5 list operations on that

In [9]:
#write your code here
a=[7,2,3,4]
a.append(5)
print(a)
a.sort()
print(a)
print(a[3])
a.insert(1,4)
print(a)
a.remove(4)
print(a)
a.reverse()
print(a)

[7, 2, 3, 4, 5]
[2, 3, 4, 5, 7]
5
[2, 4, 3, 4, 5, 7]
[2, 3, 4, 5, 7]
[7, 5, 4, 3, 2]

3.Create a new list containing only the even numbers from the original list.

original list ;[1,2,2,4,5,6,7,12,3,456,78,67,89,90]

In [10]:
#write your code here
a=[1,2,2,4,5,6,7,12,3,456,78,67,89,90]
b=[]
for i in a:
  if int(i)%2==0:
    b+=[int(i)]
print(b)

[2, 2, 4, 6, 12, 456, 78, 90]

4.Create a new list with the squares of each element in the original list.

original list : [3,5,6,8,2,45]

In [11]:
#write your code here
a=[3,5,6,8,2,45]
b=[]
for i in a:
  i=int(i)
  b+=[i**2]
print(b)

[9, 25, 36, 64, 4, 2025]

5.Check if all elements in the list are positive and return all the positive elements in a new list.

input ; [12,23,4,56,77,-89,7,90,90,-87,-99]

In [13]:
# write your code here
a=[12,23,4,56,77,-89,7,90,90,-87,-99]
b=[]
for i in a:
  i=int(i)
  if i<0:
    pass
  else:
    b+=[i]
print(b)

[12, 23, 4, 56, 77, 7, 90, 90]